[submodule "lib/semaphore"]
	branch = v3.1.0
[submodule "packages/contracts/lib/openzeppelin-contracts"]
	path = packages/contracts/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "lib/openzeppelin-contracts"]
	branch = v4.8.1
[submodule "packages/contracts/lib/zk-kit"]
	path = packages/contracts/lib/zk-kit
	url = https://github.com/privacy-scaling-explorations/zk-kit
